body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.card-c {
    border-radius: 1rem;
}

.card-image {
    border-radius: 1rem 0 0 1rem;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #aaa8a8;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 205px; /* Same as the width of the sidenav */
    padding: 10px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.add-products {
    width: 80%;
    margin: 55px auto;
}

.box {
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 0 auto;
}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

input.parsley-error,
input.parsley-min,
input.parsley-max,
select.parsley-error,
textarea.parsley-error {
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid #eed3d7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.parsley-type,
.parsley-required,
.parsley-equalto {
    color: #ff0000;
}

element.style {
}
.modal.show .modal-dialog {
    transform: none;
}
.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px !important;
        margin: 4.75rem auto;
    }
}
.data{
    border-bottom-width: 1px;
}
.table>:not(caption)>*>* {
    border-bottom-width: 0px !important;
}
.mask{
    background-color: rgba(251, 251, 251, 0.15) !important;
}
